* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  width: 70rem;
  margin: 0 auto; /* Це додає вирівнювання по центру */
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  align-items: center;
  height: 43px;
  margin-bottom: 120px;
}
.logo {
  display: flex;
  width: 103px;
  height: 43px;
}
.logo p {
  padding-left: 15px;

  font-weight: bold;
}

.item {
  display: flex;
  list-style: none;
  gap: 45px;
}
.item-list {
  line-height: 26px;

  color: #101828;
  transition: color 0.3s ease-in-out;
}
.item-list:hover {
  cursor: pointer;
  color: #006d77;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 45px;
  border-radius: 47px;
  background-color: #101828;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button {
  text-decoration: none;
  color: #ffffff;
}

.btn:hover {
  background-color: #006d77;
}

.content {
  display: flex;
  margin-bottom: 70px;
  position: relative;
}
.content-left {
  float: left;
  width: 63%;
  margin-right: 60px;
}

.content-right {
  float: left;
  width: 25%;
  /* height: 50vh; */
  margin-top: 100px;
}

.content-title h1 {
  line-height: 26px;
  font-size: 25px;
  color: #98a2b3;
  margin-bottom: 45px;
}
.content-title h2 {
  line-height: 50px;
  font-size: 60px;
  color: #101828;
  line-height: 1.2;
  margin-bottom: 45px;
}
.content-title p {
  font-family: "Merriweather", serif;
  line-height: 26px;
  font-size: 16px;

  color: #475467;

  margin-bottom: 45px;
  letter-spacing: 0.72px;
}

.content-button {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 50px;
}
.bbutton {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  align-items: center;
  background-color: #101828;
  padding: 15px 25px;
  border-radius: 5px;
  transition: 0.4s ease;
}
.button-text {
  margin-right: 8px; /* Задайте бажане значення відступу між текстом і SVG */
}
.bbutton:nth-child(2) {
  color: #101828;
  background-color: transparent;
}

.bbutton:hover {
  background-color: transparent;
  color: #101828;
}

.bbutton:nth-child(2):hover {
  background-color: #101828;
  color: white;
}

.bbutton:nth-child(1) svg path {
  fill: white; /* Початковий колір */
  transition: fill 0.3s ease; /* Плавна анімація зміни коліру протягом 0.3 секунди */
}

.bbutton:nth-child(1):hover svg path {
  fill: #101828; /* Задайте бажаний колір для ховеру */
}

.bbutton:nth-child(2) svg path {
  fill: #101828; /* Початковий колір */
  transition: fill 0.3s ease; /* Плавна анімація зміни коліру протягом 0.3 секунди */
}

.bbutton:nth-child(2):hover svg path {
  fill: white; /* Задайте бажаний колір для ховеру */
}

.results {
  display: flex;
  gap: 50px;
}
.projects {
  display: flex;
  align-items: center;
}
.project-text {
  text-align: left;
  margin-left: 10px;
}
.number {
  display: block; /* Зробити елемент блочним, щоб він займав весь рядок */
  font-size: 26px; /* Розмір шрифту для числа */
  font-weight: bold; /* Жирний шрифт для числа */
}

.text {
  display: block; /* Зробити елемент блочним */
  font-size: 16px;
  color: #66728b; /* Розмір шрифту для тексту */
}

.customers {
  display: flex;
  align-items: center;
}

.static-page {
  position: absolute;
  bottom: -5%;
  right: 1%;
}

.circle {
  position: absolute;
  top: 100px;
  right: 325px;
}
.circle2 {
  position: absolute;
  bottom: 23%;
  right: 35%;
}

.circle3 {
  position: absolute;
  top: -35px;
  right: 40px;
}
.product {
  margin-bottom: 90px;
}
.product-element {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.product-element-card {
  display: flex;
  border: 2px solid black;
  border-radius: 6px;
  border-color: #e4e7ec;
  padding: 20px;
  height: 75px;
}

.number-element {
  font-size: 16px; /* Розмір шрифту для числа */
  font-weight: 600;
  line-height: 26px;
}

.number-element:first-child {
  white-space: nowrap;
}
.price {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 26px;
  font-weight: 300;
  display: block; /* Зробити елемент блочним */
  font-size: 16px;
  color: #66728b;
}

.product-header {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
.product-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.goods {
  margin-bottom: 150px;
}

.goods h2 {
  text-align: center;
}
.goods-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #576071;
}
.goods-name {
  font-size: 16px;
  line-height: 26px;
}

.goods-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
  justify-content: space-between;
}
.goods-item {
  border: 1px solid rgb(228, 231, 236);
  border-radius: 6px;
  display: flex;
  flex-basis: 22%;
  flex-direction: column-reverse;
}
.goods-item:hover{
  box-shadow:0 12px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;

}
.goods-description {
  display: flex;
  flex-direction: column;
}
.goods-price {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.goods-file {
  padding: 40px 15px 20px; /* Встановіть відступи, які вам потрібні */
  box-sizing: border-box; /* Це забезпечує включення padding у вирівнюванні контенту всередині */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goods-price span:first-child {
  color: #006d77;
}

.goods-add {
  background-color: #bee1e6;
  border-radius: 6px;
  font-size: 12px;
  text-align: center;
  padding: 3px 14px;
  color: #006d77;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.goods-add:hover {
  background-color: #006d77;
  color: #fff;
  cursor: pointer;
}
.goods-add:not(:hover) {
  transition-delay: 0.1s;
}

.explore{
  margin-bottom: 35px;
}

.explore-head{
  text-align: center;
}
.explore-head h2{
  font-size: 50px;
  margin-bottom: 25px;
}
.explore-head p{
  font-family: Merriweather;
  color: #475467;
  font-size: 16px;
  letter-spacing:3px;
  font-weight: 400;
  line-height: 26px;
}
.expole-info{
  display: flex;
  gap: 40px;
 
}



.explore-left{
  width: 45%;
  padding: 35px 40px;
  border: 1px solid #D1DAE8 ;
  border-radius: 6px;
}
.explore-left p{
  margin-bottom: 25px;
  font-size: 30px;
}
.explore-right{
  width: 47%;

}


.explore-left ul {
  list-style: none;
}


.explore-item{
  display: flex;
  justify-content: space-between;
  
align-items: center;
  border-bottom: 1px solid #E4E7EC;
  padding: 20px 0px 20px 0px;}

.explore-item:first-child{
  padding: 0px 0px 20px 0px;
}

  .explore-item:last-child{
    border-bottom: none;
    border-bottom: none;
    padding: 20px 0px 0px 0px;
  }


.explore-right ul{
  list-style: none;
  display: flex;
  gap: 33px;
  flex-wrap: wrap;
  justify-content: space-between;
}


.explore-itemrit{
  border: 1px solid #D1DAE8;
  border-radius: 6px;
  padding: 17px 15px;
  font-weight: 600;
  font-size: 12px;
  line-height: 26px;
  color: #323A4B;
  display: flex;
  align-items: center;
  gap: 15px;
    
    
}

.explore-right ul li:last-child{
  margin: 0 auto;
  padding: 10px 27px;
}
.explore-photo {
  width: 34px; /* Встановіть бажану ширину зображення */

}

.quantity{
  display: flex;
  background-color: #E4E7EC;
  color: #006D77;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.explore-bottom {
  margin: 0 auto;
  display: block;
  margin-top: 150px;
  color: #E29578;
  background-color: #FFF3EA;
  border: none;
  border-radius: 48px;
  padding: 6px 35px;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 2px;
}





.cross{
  margin-bottom: 200px;
}
.cross-header{
  text-align: center;
  margin-bottom: 45px;
}
.cross-info{
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.cross-list {
  gap: 127px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cross-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 45px 60px;
  border-radius: 8px;
}
.cross-item > img{
  margin-bottom: 10px;
}



.cross-offers {
  width: 117px; 
  /* Встановіть бажану фіксовану ширину для тексту пропозиції */
  color: #667085;
}
.cross-name{
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 500;
  
}
.cross-item-1 {
  background-color: #FFF3EA; /* Червоний фон для першого <li> */
}

.cross-item-2 {
  background-color: #FDE2E4; /* Зелений фон для другого <li> */
}

.cross-item-3 {
  background-color: #DBECE5; /* Синій фон для третього <li> */
}
.cross-item-4{
  background-color: #DBECE5; /* Зелений фон для другого <li> */
}

.cross-item-5 {
  background-color: #D1ECFD; /* Синій фон для третього <li> */
}


.cross-header {
  text-align: center;
  margin-bottom: 45px;
  font-size: 50px;
 
  line-height: 60px;
}


.cross-list{
  position: relative;
}
.arrow-image {
  position: absolute;
  top: 20%;
  left: 30.8%;
}

.arrow-image-2 {
  position: absolute;
  top: 20%;
  left: 64.8%
}

.arrow-image-3 {
  position: absolute;
    top: 48%;
    left: 85%;
}

.arrow-image-4 {
  position: absolute;
  top: 80%;
  left: 47.3%;
  transform: scaleX(-1);
}


.info{
  color: #FFFFFF;
  background-color: #006D77;
  height: 400px;
  border-radius: 12px;
}

.subscribe{
  margin-bottom: 170px;
}

input[type="search"] {
border: none; 
width: 360px; 
border: none;
width: 360px;
padding: 20px;
border-radius: 53px;
}
input[type="submit"] {
width: 20px; 
height: 20px; 
border: none; 
background: url(photo/Vector.png) no-repeat 50% 50%; /* Параметри фону */
}
.search {
  position: relative;
}

.search input[type="submit"] {
  position: absolute;
  top: 6px;
  left: 311px;
}

.search input[type="search"] {
  z-index: 1;
}

.search input[type="submit"] {
  z-index: 2;
  background-color: #006D77;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
 
}
.search input[type="submit"] {
  background-color: #006D77;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.search input[type="submit"]:hover {
  background-color: #BEE1E6;
}
.info {
  display: flex;
    /* align-items: flex-start; */
    align-items: center;
    justify-content: space-around;
}

.info-title,
.search {
  flex: 1;
}

.info-title h2{
  margin-bottom: 15px;
} 
.info-title p {
  margin-bottom: 15px;
}
.photo {
  margin-left: 20px;
  margin-top: 100px;
}

.info-rere{
  display: flex;
    flex-direction: column;
}

.logo-footer{
  display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
  
.btn-footer{
  display: flex;
    gap: 35px;
}

.btn-footer div:first-child .button-footer{
  background-color: transparent;
    padding: 15px;
    border-radius: 55px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.btn-footer div:last-child .button-footer{
  background-color: black;
    padding: 15px;
    border-radius: 55px;
    text-decoration: none;
    color: #FFFFFF;
}
.button-footer{
  display: flex;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    background-color: #101828;
    padding: 15px 25px;
    border-radius: 5px;
    transition: 0.4s ease;
}
.footer-textbtn{
  margin-right: 8px;
}
.footer{
  display: flex;
  justify-content: space-between;
  
  padding: 25px 0px;
}
.footer-contact{
  list-style: none;
}
.footer-contact h4{
  margin-bottom: 10px;
}
.footer-item{
font-size: 14px;
line-height: 24px;
letter-spacing: 2px;
color: #969696;

}
.footer-bottom{
  display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.footer-bottom ul{
  list-style: none;
    display: flex;
    gap: 15px;
}
.footer-bottom li{
  font-size: 14px;
line-height: 24px;
letter-spacing: 2px;
color: #969696;
}
.footer-re {
  color: #969696;
}